<div class="content-wrapper">
  <div class="row">
    <!-- Inicio do conteudo do documento -->
    <div class="col-lg-8 col-md-12 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h4 class="card-title">Informações de requerimento</h4>
                <p class="card-description">
                  Para gerar um novo requerimento ou editar um existente, basta preencher o formulário,
                  as demais informações são geradas automaticamente.
                </p>
            </div>
            <div class="card-body">
              <div class="forms-sample">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <select class="form-control form-control-sm" [(ngModel)]="requerimentoObject.requerAo">
                        <option value="0">Requerer ao</option>
                        <option value="1">Reitor/Presidente da FUNECE</option>
                        <option value="2">Recursos Humanos</option>
                        <option value="3">Outros</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select class="form-control form-control-sm" [(ngModel)]="requerimentoObject.vinculo">
                        <option value="0">Tipo de vínculo</option>
                        <option value="1">Estudante</option>
                        <option value="2">Servidor</option>
                        <option value="3">Outros</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-9">
                      <div class="form-group">
                        <ng-select [items]="rotinas"
                            bindLabel="label"
                            bindValue="value"
                            [multiple]="true"
                            [(ngModel)]="requerimentoObject.rotinas"
                            placeholder="Selecione as rotinas">
                        </ng-select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <input type="date" class="form-control date" placeholder="Data" [(ngModel)]="dataCriacao">
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                  <div class="col-md-12">
                    <div class="accordion" id="accordionRotinas">
                      <div class="card" style="border: 2px solid gray; border-radius: 10px;">
                        <div class="card-header" style="cursor: pointer;" id="headingOne" data-toggle="collapse" data-target="#collapseRotinas" aria-expanded="true" aria-controls="collapseRotinas">
                            Especifique as outras rotinas
                        </div>
                        <div id="collapseRotinas" class="collapse" aria-labelledby="headingOne" data-parent="#accordionRotinas">
                          <div class="card-body">
                            <div class="row" style="margin-bottom: 3%;">
                              <div class="col-md-8">
                                <input class="form-control" type="text" [(ngModel)]="outraRotinaAdd">
                              </div>
                              <div class="col-md-2">
                                  <button type="button" class="btn btn-info" (click)="adicionarRotina()">Adicionar</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="table-responsive">
                                  <table class="table table-bordered table-hover">
                                    <thead>
                                      <th scope="col" style="width: 3em;">#</th>
                                      <th scope="col">Rotina</th>
                                      <th scope="col" style="width: 5em;">Ações</th>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let rotina of outrasRotinas">
                                        <th scope="row">{{rotina.value}}</th>
                                        <td>{{rotina.label}}</td>
                                        <td>
                                          <button class="btn btn-sm btn-danger"
                                          (click)="deletarRotina(rotina.value)" title="Deletar">
                                            <i class="mdi mdi-delete" style="margin: 0; text-align: center;"></i>
                                          </button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-bottom: 2%;">
                  <div class="col-md-12">
                    <div class="accordion" id="accordionInformacoes">
                      <div class="card" style="border: 2px solid gray; border-radius: 10px;">
                        <div class="card-header" style="cursor: pointer;" id="headingOne" data-toggle="collapse" data-target="#collapseInformacoes" aria-expanded="true" aria-controls="collapseInformacoes">
                            Adicione outras informações
                        </div>
                        <div id="collapseInformacoes" class="collapse" aria-labelledby="headingOne" data-parent="#accordionInformacoes">
                          <div class="card-body">
                            <div class="row" style="margin-bottom: 3%;">
                              <div class="col-md-8">
                                <input class="form-control" type="text" [(ngModel)]="outraInformacoesAdd">
                              </div>
                              <div class="col-md-2">
                                  <button type="button" class="btn btn-info" (click)="adicionarInformacao()">Adicionar</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="table-responsive">
                                  <table class="table table-bordered table-hover">
                                    <thead>
                                      <th scope="col" style="width: 3em;">#</th>
                                      <th scope="col">Informação</th>
                                      <th scope="col" style="width: 5em;">Ações</th>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let info of outrasInformacoes">
                                        <th scope="row">{{info.value}}</th>
                                        <td>{{info.label}}</td>
                                        <td>
                                          <button class="btn btn-sm btn-danger"
                                          (click)="deletarInformacao(info.value)" title="Deletar">
                                            <i class="mdi mdi-delete" style="margin: 0; text-align: center;"></i>
                                          </button>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button (click)="salvar()" class="btn btn-primary mr-2">Salvar</button>
                <button (click)="noSaveRender()" class="btn btn-info mr-2">Renderizar</button>
                <button class="btn btn-light" (click)="cancelar()">Sair</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12" style="padding: 8px !important; background: gray; height: 448px;">
      <div style="height: 432px; text-align: center;">
        <pdf-viewer [src]="urlPdf"
        [fit-to-page]="true" [show-all]="true"
        *ngIf="id"></pdf-viewer>
        <div *ngIf="!id" style="background-color: white; height: 100%;">
          <a style="text-align: center; top: 50%; position: relative; cursor: pointer;"
            (click)="noSaveRender()">
            Clique aqui para renderizar o documento.
          </a>
        </div>
      </div>
    </div>
    <!-- Fim do conteudo do documento -->
  </div>
</div>