:host ::ng-deep .ck-editor__editable {
    min-height: 300px;
}

@media (min-width: 200px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 100px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 320px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 200px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 400px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 300px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 520px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 400px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 620px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 500px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 750px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 600px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 850px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 700px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 900px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 800px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 990px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 600px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 1120px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 650px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 1220px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 700px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 1320px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 900px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 1520px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 1200px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 1820px) {
    .oficio-editor{
        min-height: 300px;
        max-width: 1700px;
        margin: auto;
        margin-bottom: 2%;
    }
}

.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}