<div class="content-wrapper">
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  <div class="row">

    <!-- Inicio do conteudo do documento -->
    <div class="col-lg-12 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h4 class="card-title">Formulário de Pesquisa</h4>
            </div>
            <div class="card-body">
              <div class="forms-sample">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-3">
                        <label>Tipo</label>
                        <select class="custom-select form-control" [(ngModel)]="documentoSearch.tipoDocumentoId">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let item of tipoDocsList" [ngValue]="item.id">{{item.nome}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Identificador</label>
                        <input type="text" class="form-control" placeholder="99/9999" [(ngModel)]="documentoSearch.identificador">
                    </div>
                    <div class="col-md-3">
                        <label>Data Inicial</label>
                        <input type="date" class="form-control date" placeholder="00/00/0000" [(ngModel)]="documentoSearch.dataInicial">
                    </div>
                    <div class="col-md-3">
                        <label>Data Final</label>
                        <input type="date" class="form-control date" placeholder="00/00/0000" [(ngModel)]="documentoSearch.dataFinal">
                    </div>
                  </div>
                </div>
                <button (click)="pesquisar(0, 'ambos')" class="btn btn-primary mr-2">Pesquisar</button>
                <button (click)="adicionarNovo()" class="btn btn-success mr-2">Adicionar +</button>
                <button (click)="limpar()" class="btn btn-light">Limpar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fim do conteudo do documento -->
  </div>

<div class="row">
  <!-- Inicio do conteudo do documento -->

  <div class="col-lg-12 grid-margin">
    
        <div class="card">
          <div class="card-header">
              <h4 class="card-title">Lista de Documentos</h4>
              <p class="card-description">
                
              </p>
          </div>
          <div class="card-body">
            
            <div class="rounded border border-danger not-found-div text-danger" 
                  *ngIf="contentList.length == 0 && contentReceivedList.length == 0">SEM RESULTADOS</div>
            
            <ul class="nav nav-tabs" id="docTab" role="tablist" *ngIf="contentList.length > 0 || contentReceivedList.length > 0">
              <li class="nav-item">
                <a class="nav-link active" id="enviados-tab" data-toggle="tab"
                  href="#enviados-content" role="tab" aria-controls="enviados-content" 
                  aria-selected="true">
                  Enviados
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="recebidos-tab" data-toggle="tab" 
                  href="#recebidos-content" role="tab" aria-controls="recebidos-content" 
                  aria-selected="false">
                  Recebidos
                </a>
              </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="enviados-content"
                      role="tabpanel" aria-labelledby="enviados-tab">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" *ngIf="contentList.length > 0 || contentReceivedList.length > 0">
                          <thead class="thead">
                            <tr>
                              <th scope="col">Código</th>
                              <th scope="col">Identificador</th>
                              <th scope="col">Tipo</th>
                              <th scope="col">Data</th>
                              <th scope="col">Ações</th>
                            </tr>
                          </thead>
                          <tbody class="tbody">
                            <tr *ngFor="let item of contentList">
                              <td scope="row">{{item.id}}</td>
                              <td>{{item.identificador}}</td>
                              <td>{{item.tipoDocumento.nome}}</td>
                              <td>{{item.dataCriacao | date:"dd/MM/yyyy"}}</td>
                              <td>
                                  <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" title="Download PDF"
                                          style="padding: 1px; text-align: center; margin-right: 4%"
                                          (click)="downloadDocument(item.tipoDocumento.id, item.id, item.tipoDocumento.nome)">
                                      <i class="mdi mdi-file-pdf" style="margin: 0; text-align: center;"></i>
                                  </button>
                                  <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" title="Download DOC"
                                          style="padding: 1px; text-align: center; margin-right: 4%"
                                          (click)="downloadDocumentWord(item.tipoDocumento.id, item.id, item.tipoDocumento.nome)">
                                      <i class="mdi mdi-file-word" style="margin: 0; text-align: center;"></i>
                                  </button>
                                  <button class="btn btn-sm btn-info" style="padding: 1px; text-align: center; margin-right: 4%"
                                          (click)="editar(item.id, item.tipoDocumento.id)" data-toggle="tooltip" title="Editar">
                                    <i class="mdi mdi-tooltip-edit" style="margin: 0; text-align: center;"></i>
                                  </button>
                                  <button *ngIf="!item.enviada" class="btn btn-sm btn-primary" style="padding: 1px; text-align: center; margin-right: 4%"
                                          data-toggle="tooltip" title="Enviar" (click)="enviar(item.id)">
                                    <i class="mdi mdi-telegram" style="margin: 0; text-align: center;"></i>
                                  </button>
                                  <button *ngIf="item.enviada" class="btn btn-sm btn-primary" style="padding: 1px; text-align: center; margin-right: 4%"
                                          data-toggle="tooltip" title="Cancelar Envio" (click)="cancelarEnvio(item.id)">
                                    <i class="mdi mdi-close-circle-outline" style="margin: 0; text-align: center;"></i>
                                  </button>
                                  <button class="btn btn-sm btn-danger" style="padding: 1px; text-align: center;"
                                          (click)="deletar(item.id)" data-toggle="tooltip" title="Deletar">
                                      <i class="mdi mdi-delete" style="margin: 0; text-align: center;"></i>
                                  </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <br />
                        <nav aria-label="Page navigation example" *ngIf="contentList.length > 0 || contentReceivedList.length > 0">
                          <ul class="pagination justify-content-center">
                            <li class="page-item">
                              <a class="page-link" (click)="pesquisar(0, 'enviados')" >Primeira</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" *ngIf="paginator.previousPrevPage != null" (click)="pesquisar(paginator.previousPrevPage, 'enviados')">{{paginator.previousPrevPage + 1}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="pesquisar(paginator.previousPage, 'enviados')" *ngIf="paginator.previousPage != null && paginator.previousPage >= 0">{{paginator.previousPage + 1}}</a>
                            </li>
                            <li class="page-item disabled">
                              <a class="page-link text-primary" tabindex="-1">{{paginator.currentPage + 1}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" (click)="pesquisar(paginator.nextPage, 'enviados')" *ngIf="paginator.nextPage">{{paginator.nextPage + 1}}</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" *ngIf="paginator.nextNextPage" (click)="pesquisar(paginator.nextNextPage, 'enviados')">{{paginator.nextNextPage + 1}}</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" (click)="pesquisar(paginator.totalPages - 1, 'enviados')">Última</a>
                            </li>
                            <li class="page-item" style="margin-left: 1%;">
                              <small>página {{paginator.currentPage + 1}} de {{paginator.totalPages}}</small>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div>
                <div class="tab-pane fade" id="recebidos-content" role="tabpanel" 
                    aria-labelledby="recebidos-tab">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" *ngIf="contentList.length > 0 || contentReceivedList.length > 0">
                          <thead class="thead">
                            <tr>
                              <th scope="col">Código</th>
                              <th scope="col">Identificador</th>
                              <th scope="col">Tipo</th>
                              <th scope="col">Data</th>
                              <th scope="col">Usuario</th>
                              <th scope="col">Ações</th>
                            </tr>
                          </thead>
                          <tbody class="tbody">
                            <tr *ngFor="let item of contentReceivedList">
                              <td scope="row">{{item.id}}</td>
                              <td>{{item.identificador}}</td>
                              <td>{{item.tipoDocumento.nome}}</td>
                              <td>{{item.dataCriacao | date:"dd/MM/yyyy HH:mm:ss"}}</td>
                              <td>{{item.usuario.nome}}</td>
                              <td>
                                  <button type="button" class="btn btn-sm btn-outline-info" 
                                          style="padding: 1px; text-align: center; margin-right: 4%"
                                          (click)="downloadDocument(item.tipoDocumento.id, item.id, item.tipoDocumento.nome)">
                                      <i class="mdi mdi-file-pdf" style="margin: 0; text-align: center;"></i>
                                  </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <br />
                        <nav aria-label="Page navigation example" *ngIf="contentList.length > 0 || contentReceivedList.length > 0">
                          <ul class="pagination justify-content-center">
                            <li class="page-item">
                              <a class="page-link" (click)="pesquisar(0, 'recebidos')" >Primeira</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" *ngIf="paginatorRecebidos.previousPrevPage != null" 
                                    (click)="pesquisar(paginatorRecebidos.previousPrevPage, 'recebidos')">
                                    {{paginatorRecebidos.previousPrevPage + 1}}
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" 
                                  (click)="pesquisar(paginatorRecebidos.previousPage, 'recebidos')" 
                                  *ngIf="paginatorRecebidos.previousPage != null && paginatorRecebidos.previousPage >= 0">
                                    {{paginatorRecebidos.previousPage + 1}}
                                </a>
                            </li>
                            <li class="page-item disabled">
                              <a class="page-link text-primary" tabindex="-1">{{paginatorRecebidos.currentPage + 1}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                  (click)="pesquisar(paginatorRecebidos.nextPage, 'recebidos')" 
                                  *ngIf="paginatorRecebidos.nextPage">
                                    {{paginatorRecebidos.nextPage + 1}}
                                </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" *ngIf="paginatorRecebidos.nextNextPage" 
                                (click)="pesquisar(paginatorRecebidos.nextNextPage, 'recebidos')">
                                  {{paginatorRecebidos.nextNextPage + 1}}
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" 
                                (click)="pesquisar(paginatorRecebidos.totalPages - 1, 'recebidos')">
                                  Última
                              </a>
                            </li>
                            <li class="page-item" style="margin-left: 1%;">
                              <small>página {{paginatorRecebidos.currentPage + 1}} de {{paginatorRecebidos.totalPages}}</small>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div>
            </div>
            
          </div>
        </div>
  </div>
  <!-- Fim do conteudo do documento -->
</div>
</div>
