<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" href="sisdoc/dashboard">
        <img src="./assets/images/logo.svg" alt="logo" />
      </a>
      <a class="navbar-brand brand-logo-mini" href="sisdoc/dashboard">
        <img src="./assets/images/logo-mini.svg" alt="logo" />
      </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown d-none d-xl-inline-block">
          <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <span class="profile-text">Bem vindo, {{usuario.nome}}</span>
            <img class="img-xs rounded-circle" src="./assets/images/faces/face1.png" alt="Profile image">
          </a>
          <div style="width: 20%;" class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <a class="dropdown-item mt-2" href="sisdoc/perfil">
              Perfil
            </a>
            <a class="dropdown-item" (click)="logout()" href="#">
              Sair
            </a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas" data-target="#sidebar">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile" style="margin-bottom: 8%;">
          <div class="row">
            <div class="col-sm-12">
              <div class="profile-image">
                <img src="./assets/images/faces/face1.png" alt="profile image" class="img-fluid img-thumbnail rounded mx-auto d-block w-50 h-75 rounded-circle">
              </div>
            </div>
            <div class="col-sm-12" style="text-align: center;">
              <span class="profile-name">{{usuario.nomeCargo}}</span>
            </div>
            <div class="col-sm-12" style="text-align: center;">
              <div style="width: 90%; margin: auto;">
                <small class="designation text-muted">{{usuario.nomeSetor}}</small>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sisdoc/dashboard">
            <i class="menu-icon mdi mdi-home"></i>
            <span class="menu-title">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sisdoc/documento">
            <i class="menu-icon mdi mdi-file-document-box"></i>
            <span class="menu-title">Documentos</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="containsPermission(7)">
          <a class="nav-link" href="sisdoc/setor">
            <i class="menu-icon mdi mdi-library"></i>
            <span class="menu-title">Setor</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="containsPermission(8)">
          <a class="nav-link" href="sisdoc/cargo">
            <i class="menu-icon mdi mdi-tie"></i>
            <span class="menu-title">Cargo</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="containsPermission(9)">
          <a class="nav-link" href="sisdoc/colegiado">
            <i class="menu-icon mdi mdi-account-switch"></i>
            <span class="menu-title">Colegiado</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="admin">
          <a class="nav-link" href="sisdoc/tipo-doc">
            <i class="menu-icon mdi mdi-library-books"></i>
            <span class="menu-title">Tipos de Documento</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="admin">
          <a class="nav-link" href="sisdoc/usuario">
            <i class="menu-icon mdi mdi-library-books"></i>
            <span class="menu-title">Usuário</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">
            <i class="menu-icon mdi mdi-restart"></i>
            <span class="menu-title">Sair</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <router-outlet></router-outlet>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
