<div class="content-wrapper">

    <div class="row">

      <!-- Inicio do conteudo do documento -->
      <div class="col-lg-12 d-flex align-items-stretch grid-margin">
        <div class="row flex-grow">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                  <h4 class="card-title">Formulário de Pesquisa</h4>
              </div>
              <div class="card-body">
                <div class="forms-sample">
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-6">
                              <label>Código</label>
                              <input type="text" class="form-control" placeholder="Código" [(ngModel)]="tipoDocumentoSearch.id">
                          </div>
                          <div class="col-md-6">
                              <label>Nome</label>
                              <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="tipoDocumentoSearch.nome">
                          </div>
                      </div>
                  </div>
                  <button (click)="pesquisar(0)" class="btn btn-primary mr-2">Pesquisar</button>
                  <button (click)="limpar()" class="btn btn-light">Limpar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fim do conteudo do documento -->
    </div>

  <div class="row">
    <!-- Inicio do conteudo do documento -->

    <div class="col-lg-12 grid-margin">
        <div class="card">
          <div class="card-header">
              <h4 class="card-title">Tipos de Documentos</h4>
              <p class="card-description">
                
              </p>
          </div>
          <div class="card-body">
            
            <div class="rounded border border-danger not-found-div text-danger" *ngIf="contentList.length == 0">SEM RESULTADOS</div>
            
            <div class="table-responsive">
              <table class="table table-hover table-bordered" *ngIf="contentList.length > 0">
                <thead class="thead">
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                  </tr>
                </thead>
                <tbody class="tbody">

                  <tr *ngFor="let item of contentList">
                    <td scope="row">{{item.id}}</td>
                    <td>{{item.nome}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
    <!-- Fim do conteudo do documento -->
  </div>
</div>
