<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-12 grid-margin">
      <div class="card">
        <div class="card-body">

          <section class="w3l-banner-main">

            <!--/banner-content-->
            <div class="bannerhny-content text-center">
              <h3 data-aos="fade-up">Crie e gerencie seus <span>documentos</span><br> em um só lugar.</h3>
              <h6 data-aos="fade-up">Comece agora mesmo</h6>
              <div class="banner-button" data-aos="fade-down">
                <a href="sisdoc/documento" class="btn">Meus Documentos</a>
              </div>
            </div>
            <!--//banner-content-->
          </section>

          <section class="w3l-content-5">
            <!-- /content-6-section -->
            <div class="content-5-main">
              <div class="container">
                <div class="content-info-in pt-5">
                  <div class="content-gd pt-lg-5">
                    <h3 class="hny-title" data-aos="fade-up">
                      Feito para facilitar a criação, edição e compartilhamento de
                      <br>Documento </h3>
                    <p data-aos="fade-up">Assista ao vídeo de apresentação</p>
                    <iframe width="700" height="400"
                      src="https://www.youtube.com/embed/FNpvh_DeNd8"
                      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen>
                    </iframe>
                  </div>
        
                </div>
        
              </div>
            </div>
          </section>

          <section class="w3l-macbook-content-6">
            <div class="macbook-infohny">
              <!-- /macbook-infohny-->
              <div class="container-fuild">
                <div class="row macbook-infohny-inn mx-lg-0">
                  <div class="col-lg-6 macbook-left mt-lg-0 mt-5 px-lg-0" data-aos="fade-up">
                    <img src="assets/images/macbook-1.png" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 macbook-right my-lg-5 py-lg-5 py-4" data-aos="fade-down">
                    <h3 class="hny-title mb-lg-5">
                      Funcionalidades.</h3>
                    <div class="row macbook-right-grids mb-lg-5 mb-4">
                      <div class="col-md-2 macbook-right-icon">
                        <div class="macbook-icon">
                          <span class="fa fa-clock-o"></span>
                        </div>
                      </div>
                      <div class="col-md-10 macbook-right-info">
                        <h6><a href="blog-single.html">Rascunho dos documentos</a></h6>
                        <p>Crie documentos e salve um rascunho para editá-lo em outro momento.</p>
                      </div>
        
                    </div>
                    <div class="row macbook-right-grids mb-5 mt-lg-0 mt-5">
                      <div class="col-md-2 macbook-right-icon">
                        <div class="macbook-icon">
                          <span class="fa fa-podcast"></span>
                        </div>
                      </div>
                      <div class="col-md-10 macbook-right-info">
                        <h6><a href="blog-single.html">Compartilhe</a></h6>
                        <p>Envie documentos para outros usuários, podendo cancelar o envio a qualquer momento.</p>
                      </div>
        
                    </div>
                    <div class="row macbook-right-grids mb-lg-0 mb-4">
                      <div class="col-md-2 macbook-right-icon">
                        <div class="macbook-icon">
                          <span class="fa fa-database"></span>
                        </div>
                      </div>
                      <div class="col-md-10 macbook-right-info">
                        <h6><a href="blog-single.html">Totalmente Digital</a></h6>
                        <p>Os documentos são gerenciados totalmente pela aplicação, não necessitando de uma cópia local.</p>
                      </div>
        
                    </div>
                  </div>
        
                </div>
              </div>
              <!-- //macbook-infohny-->
            </div>
          </section>

          <section class="w3l-download-main">
            <!--/download-->
            <div class="download-content text-center py-5">
              <div class="container py-lg-3">
                <h3 data-aos="fade-up">Comece a criar <span>documentos</span><br> agora!</h3>
                <h6 data-aos="fade-up">Clique para acessar a tela de documentos</h6>
                <div class="banner-button" data-aos="fade-up">
                  <a href="sisdoc/documento" class="btn">Meus Documentos</a>
                </div>
              </div>
            </div>
            <!--//download-->
          </section>

        </div>
      </div>
    </div>
  </div>    
</div>
<!-- content-wrapper ends -->  
