<div class="content-wrapper">
  <div class="row">
     <!-- Inicio do conteudo do documento -->
     <div class="col-lg-12 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h4 class="card-title">Formulário de Pesquisa</h4>
            </div>
            <div class="card-body">
              <div class="forms-sample">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-3">
                        <label>Código</label>
                        <input type="text" class="form-control" [(ngModel)]="colegiadoSearch.id">
                    </div>
                    <div class="col-md-9">
                        <label>Nome</label>
                        <input type="text" class="form-control" [(ngModel)]="colegiadoSearch.nome">
                    </div>
                  </div>
                </div>
                <button (click)="pesquisar(0)" class="btn btn-primary mr-2">Pesquisar</button>
                <button (click)="adicionarNovo()" class="btn btn-success mr-2">Adicionar +</button>
                <button (click)="limpar()" class="btn btn-light">Limpar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Inicio do conteudo do documento -->

    <div class="col-lg-12 grid-margin">

          <div class="card">
            <div class="card-header">
                <h4 class="card-title">Lista de Colegiados</h4>
                <p class="card-description">
                  
                </p>
            </div>
            <div class="card-body">
              
              <div class="rounded border border-danger not-found-div text-danger" *ngIf="contentList.length == 0">SEM RESULTADOS</div>
              
              <div class="table-responsive">
                <table class="table table-hover table-bordered" *ngIf="contentList.length > 0">
                  <thead class="thead">
                    <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Ações</th>
                    </tr>
                  </thead>
                  <tbody class="tbody">
                    <tr *ngFor="let item of contentList">
                      <td scope="row">{{item.id}}</td>
                      <td>{{item.nome}}</td>
                      <td>
                          <button class="btn btn-sm btn-info" style="padding: 1px; text-align: center; margin-right: 4%" (click)="editar(item.id)">
                              <i class="mdi mdi-tooltip-edit" style="margin: 0; text-align: center;"></i>
                          </button>
                          <button class="btn btn-sm btn-danger" style="padding: 1px; text-align: center;" (click)="deletar(item.id)">
                            <i class="mdi mdi-delete" style="margin: 0; text-align: center;"></i>
                          </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br />
                <nav aria-label="Page navigation example" *ngIf="contentList.length > 0">
                  <ul class="pagination justify-content-center">
                   <li class="page-item">
                      <a class="page-link" (click)="pesquisar(0)" >Primeira</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" *ngIf="paginator.previousPrevPage != null" (click)="pesquisar(paginator.previousPrevPage)">{{paginator.previousPrevPage + 1}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" (click)="pesquisar(paginator.previousPage)" *ngIf="paginator.previousPage != null && paginator.previousPage >= 0">{{paginator.previousPage + 1}}</a>
                    </li>
                    <li class="page-item disabled">
                      <a class="page-link text-primary" tabindex="-1">{{paginator.currentPage + 1}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" (click)="pesquisar(paginator.nextPage)" *ngIf="paginator.nextPage">{{paginator.nextPage + 1}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" *ngIf="paginator.nextNextPage" (click)="pesquisar(paginator.nextNextPage)">{{paginator.nextNextPage + 1}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" (click)="pesquisar(paginator.totalPages - 1)">Última</a>
                    </li>
                    <li class="page-item" style="margin-left: 1%;">
                      <small>página {{paginator.currentPage + 1}} de {{paginator.totalPages}}</small>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>

    </div>
    <!-- Fim do conteudo do documento -->
  </div>
</div>
