<div class="container">
  <div class="card" style="margin-top: 2%;">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6" style="text-align:center; border-right: 1px solid grey;">
            <div class="row">
              <div class="col-12">
                  <img src="./assets/images/faces/face1.png" alt="Imagem de Perfil" class="img-fluid img-thumbnail rounded mx-auto d-block w-50 h-100 rounded-circle">
              </div>
              <div class="col-12">
                  {{usuario.nome}}
              </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
                <div class="input-group flex-nowrap">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">#</span>
                  </div>
                  <input type="text" class="form-control" readonly aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="usuario.email">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <div class="input-group flex-nowrap">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">#</span>
                  </div>
                  <input type="text" class="form-control" readonly aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="usuario.cargo">
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">#</span>
                    </div>
                    <input type="text" class="form-control" readonly aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="usuario.setor">
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-12" style="text-align: right;">
              <button class="btn btn-primary mr-2" (click)="editar()">Editar</button>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
