:host ::ng-deep .ck-editor__editable {
    min-height: 300px;
}

@media (min-width: 200px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 100px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 320px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 200px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 400px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 300px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 520px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 400px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 620px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 500px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 750px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 600px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 850px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 700px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 900px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 800px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 990px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 600px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 1120px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 650px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 1220px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 700px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 1320px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 900px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 1520px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 1200px;
        margin: auto;
        margin-bottom: 2%;
    }
}

@media (min-width: 1820px) {
    .portaria-editor{
        min-height: 300px;
        max-width: 1700px;
        margin: auto;
        margin-bottom: 2%;
    }
}