<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-8 col-md-12 d-flex align-items-stretch grid-margin">
      <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h4 class="card-title">Informações de portaria</h4>
                <p class="card-description">
                  Para gerar uma nova portaria ou editar uma existente, basta inserir o corpo do texto,
                  as demais informações são geradas automaticamente.
                </p>
            </div>
            <div class="card-body">
              <div class="forms-sample">
                <div class="row">
                  <div class="col-md-12">
                    <input type="date" class="form-control date" placeholder="Data" [(ngModel)]="documento.dataCriacao">
                  </div>
                </div>

                <br />

                <div class="row">
                  <div class="col-md-12">
                    <div class="portaria-editor">
                      <quill-editor [(ngModel)]="documento.conteudo"></quill-editor>
                    </div>
                  </div>
                </div>

                <button (click)="salvar()" class="btn btn-primary mr-2">Salvar</button>
                <button (click)="noSaveRender()" class="btn btn-info mr-2">Renderizar</button>
                <button class="btn btn-light" (click)="cancelar()">Sair</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12" style="padding: 8px !important; background: gray; height: 684px;">
      <div style="height: 668px; text-align: center;">
        <pdf-viewer [src]="urlPdf"
        [fit-to-page]="true" [show-all]="true"
        *ngIf="id"></pdf-viewer>
        <div *ngIf="!id" style="background-color: white; height: 100%;">
          <a style="text-align: center; top: 50%; position: relative; cursor: pointer;"
            (click)="noSaveRender()">
            Clique aqui para renderizar o documento.
          </a>
        </div>
      </div>
    </div>
  </div>
</div>